<% 
entries = @event.entries.includes(:family).order("entries.id").to_a
cols = 4
rows = entries.size / cols
rows += 1 unless entries.size % cols == 0 
%>

<table class="entries">
  <tr>
      <% cols.times do %>
        <th>氏名</th>
      <% end %>
    </tr>
    <% rows.times do |i| %>
    <tr>
      <% cols.times do |j| %>
      <% index = i * cols + j %>
      <% e = entries[index] || break %>
      <%= markup(:div, class: "entry") do |m|
        m.td e.family.family_name + " " + e.family.given_name
      end  
      %>
    <% end %>
  </tr>
  <% end %>
</table>



