<% @title = "イベント管理" %>
<div class="page-title">
  <h2><%= @title %></h2>
</div>
  
<div class="table-wrapper">
  <table class="listing">
    <tr>
      <th>タイトル</th>
      <th>申し込み開始日時</th>
      <th>申し込み終了日時</th>
      <th>最小参加者数</th>
      <th>最大参加者数</th>
      <th>申し込み件数</th>
      <th>登録職員</th>
      <th>アクション</th>
    </tr>
    <%= render partial: "event", collection: @events %>
  </table>
  <div class="pagination">
    <%= paginate @events %>
  </div>
  <ul class="link-list">
    <li>
      <%= link_to "イベントを作成する", new_caregiver_event_path, class: "btn btn--yellow btn--cubic"  %>
    </li>
  </ul>
</div>
