<div class="form-container">
  <h2>ログイン</h2>

  <%= form_with(url: :caregiver_session, local: true)  do |f| %>
    <%= render "form", f: f %>
    <%= link_to "職員登録はこちらから", new_caregiver_staff_member_path, class: "new-session-button" %>
 <% end %>
</div>

