
  <% @title = "職員トップページ" %>
  <h1><%= @title %></h1>

<%= link_to "既往歴の確認" %>
<%= link_to "利用者の名前" %>

<p>2021/3/2</p>
 <table border="5">
    <tr bgcolor="pink">
      <th bgcolor="	#E0FFFF">バイタル</th>
      <th>体温</th>
      <th>血圧</th>
      <th>脈拍</th>
      <th>SPO2</th>
    </tr>
    <tr>
      <td></td>
      <td>36.5</td>
      <td>120/80</td>
      <td>60</td>
      <td>99%</td>
    </tr> 
  </table>

   <table border="5">
    <tr bgcolor="pink">
      <th bgcolor="	#E0FFFF">薬</th>
      <th>朝食前</th>
      <th>朝食後</th>
      <th>昼食前</th>
      <th>昼食後</th>
      <th>昼食後</th>
      <th>夕食前</th>
      <th>夕食後</th>
      <th>塗り薬</th>
      <th>点眼</th>
    </tr>
    <tr>
      <td></td>
      <td>○</td>
      <td>×</td>
      <td>○</td>
      <td>○</td>
      <td>○</td>
      <td>×</td>
      <td>○</td>
      <td>×</td>
      <td>○</td>
    </tr> 
  </table>

  <table border="5">
    <tr>
      <th bgcolor="	#E0FFFF">水分量</th>
    </tr>
    <tr>
      <td>150ml</td>
    </tr>
  </table>

   <table border="5">
    <tr>
      <th bgcolor="	#E0FFFF">排尿回数</th>
    </tr>
    <tr>
      <td>回</td>
    </tr>
  </table>

  <table border="5">
    <tr>
      <th bgcolor="	#E0FFFF">排便回数</th>
    </tr>
    <tr>
      <td>回</td>
    </tr>
  </table>

   <table border="5">
    <tr>
      <th bgcolor="	#E0FFFF">入浴</th>
    </tr>
    <tr>
      <td>○</td>
    </tr>
  </table>


<table border="5">
    <tr>
      <th bgcolor="	#E0FFFF">食事</th>
      <th>朝食</th>
      <th>昼食</th>
      <th>おやつ</th>
      <th>夕食</th>
    </tr>
    <tr>
      <td></td>
      <td>○</td>
      <td>○</td>
      <td>○</td>
      <td>○</td>
    </tr>
  </table>
