 <%= form_with model: @caregiver, url: :caregiver_staff_member, local: true do |f| %> 
   <%= render "update_form", f: f %>
   <div class="submit">
      <%= f.submit "登録する" %>
  </div>  
  <% end %>
