<p><strong><%= current_caregiver_member.name %></strong>としてログインしています。</p>
<%= button_to "ログアウト", caregiver_logout_path, method: :delete %>

<br>

<%= link_to "利用者情報の登録", new_caregiver_staff_member_top_path(current_caregiver_member.id) %>
