<p><strong><%= current_caregiver_member.name %></strong>としてログインしています。</p>


<br>

<div>
  <%= @caregiver.name %>
  <%= @caregiver.age %>
</div>

<%= link_to "アカウント情報の編集", edit_caregiver_staff_member_path(current_caregiver_member) %>


