<div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>タイトル</p>
    <%= f.text_field :title, required: true, class: "Form-Item-Input" %>
</div>
 <div class="Form-Item">
    <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>内容</p>
    <%= f.text_area :body, class: "Form-Item-Textarea" %>
</div>
