<% if current_caregiver_member.press_button?(post) %>
    <td><%= link_to  caregiver_post_share_buttons_path(post_id: post.id, id: post.share_buttons[0].id), method: :delete, remote: true do %></td>
    <i class="fas fa-thumbs-up fa-2x"></i>
   <% end %>
<% else %>
    <td><%= link_to caregiver_post_share_buttons_path(post), method: :post, remote: true do  %></td>
    <i class="far fa-thumbs-up fa-2x"></i>
    <% end %>
<% end %>

  <br>
<%= post.share_buttons.count %>

