<h2 class="page-title">申し送りの登録</h2>
<div class="form-container">

  <%= form_with model: @post, url: :caregiver_posts, local: true do |f| %>
   <%= render "error", post: @post %>
   <%= render "form", f: f %>

    <div class="submit">
      <%= f.submit "登録する" %>
    </div>

    
  <% end %>
</div>
