<div class="input-block">
<%= f.fields_for :customer, f.object.customer do |ff| %>
    <%= markup do |m| 
    p = CustomerFormPresenter.new(ff, self)
    p.with_options(required: true) do |q|

    m << q.full_name_block(:family_name, :given_name, "氏名")
    m << q.full_name_block(:family_name_kana, :given_name_kana, "フリガナ")
    end
    m << p.gender_field_block
    end %>
<% end %>
</div>
