<%= javascript_pack_tag 'support_process_record' %>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<style>
  .l-wrapper {
  margin: 3rem auto;
  width: 600px;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  color: #212121;
  text-decoration: none;
  height: 600px;
}

.card__header {
  display: flex;
  flex-wrap: wrap;
}

.card__title {
  padding: 1rem 1rem 0;
  font-size: 1.25rem;
  order: 1;
}

.card__thumbnail {
  margin: 0;
  order: 0;
}

.card__body {
  padding: 1rem;
}

.card__text {
  font-size: .75rem;
}

.card__text + .card__text {
  margin-top: .5rem;
}

.card__text.-number {
  text-align: right;
}

.card__footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.button {
  display: inline-block;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
}

.button.-compact {
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: #26a69a;
  color: #fff;
  font-weight: bold;
}

.button.-compact:hover,
.button.-compact:focus {
  background-color: #80cbc4;
}

</style>

<h2>支援経過記録作成</h2>

<div id="app">
<%= link_to "支援計画を作成する", "#" %>
<h3>ショートカット</h3>
 <ul>
  <li>Snippet Title</li>
</ul>
</div>

<div class="l-wrapper">
  <article v-for="snippet in snippetList" class="card">
    <div class="card__header">
      <h3 class="card__title">タイトルが入る</h3>
      <figure class="card__thumbnail">
       
     </figure>
    </div>
    <div class="card__body">
      <p class="card__text">ごく普通の生地の白いTシャツに油性マジックで「正義」と書いただけの架空の半袖Tシャツです。</p>
      <p class="card__text -number">&yen; 15,000</p>
    </div>
    <div class="card__footer">
      <p class="card__text"><a href="#" class="button -compact">update</a></p>
      <p class="card__text"><a href="#" class="button -compact">delete</a></p>
    </div>
    
  </article>
</div>















