.profil-container {
  margin-left: 30px;


}

.original-profile {
  width: 180px;
  height: 130px;
  background: #f0ebea;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  font-size: 16px;
  display: inline-block; 
  margin-left: 5px;
  margin-bottom: 10px;

}

.original-profile-title {
  background: #6b534c;
  padding: 6px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.original-profile-body {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.original-profile-img {
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.original-profile-name {
  font-weight: bold;
  text-align: center;
}

.original-profile-description {
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
}
