@import "colors";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

div#container-field {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  margin-top: 30px;
 h2 {
   padding-top: 10px;
   border-left: 10px solid #ff0000;
   border-bottom: 1px solid #000;
   padding: 5px 20px;
   display: inline-block;
 }

 .center-p {
   text-align: center;
   padding-top: 40px;
 }

 .page-title {
   height: 50px;
   text-align: center;
 }



 .list a.list{
   text-decoration: none;
 }

  ul { 
    list-style: none;
      li {
        display: inline-block;
        a {
          text-decoration: none;
          float: left;
          margin: 0 10px;
          
        }
      }

   }
   .btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }
  
  a.btn--yellow {
    color: #000;
    background-color: #fff100;
    border-bottom: 5px solid #ccc100;
  }
  
  a.btn--yellow:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
  }

  .link-list {
   text-align: center;
   padding-top: 40px;
  }

  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
   
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}


.table-page {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.markpu-center {
  display: inline-block;
  text-align: center;
}

/*ゲストユーザー様用ボタン*/
input.button_to2{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  margin-top: 25px;
}
.btn-wrapper {
  text-align: center;
}

input.button_to2:hover{
  background-color: #f9c500;
}


/*ヘッダー*/
header {
  padding: 5px;
  height: 70px;
  background-color: orange;
  color: white;
  span.logo-mark {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    padding: 7px;
    float: left;
    font-size: 32px;
  }
  li {
    list-style: none;
    float:left;
    padding: 10px 20px;
  }
  a {
    margin: 10px 20px 0 0;
    text-decoration: none;
    font-weight: bold;
    color: white;

  }
  input.header-button {
    width: 100px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
  }
  input.header-button:hover {
    color: #fff;
    background: #000;
  }
  .header-left {
    float: left;
  }
 
}

/*フッター*/
footer {
  width: 100%;
  height: 50px;
  background-color: $right_gray;
  color: $white;
  position: absolute;
  bottom: 0; 
  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}
