body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(caregiver-main.png);
  background-size: 1457px 100%;
  //繰り返しを防ぐ
  background-repeat:no-repeat;
  color: black;
  text-align: center;
}

.main-container {
  width: 1170px;
  padding: 0 10px 0 0;
 
}

.section {
  margin-top: 50px;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
}

 .btn-wrapper {
   margin-top: 80px;
}

/*ボタン*/
input.button_to2{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  margin-top: 25px;
}

input.button_to2:hover{
  background-color: #f9c500;
}

.slider {
  height: 500px;
  width : 700px;
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.slick-slide img {
  margin:0 auto
}

/*マーカーアニメーション*/
 
.marker-animation.active{
  background-position: -100% .5em;
}

.marker-animation {
  background-image: -webkit-linear-gradient(left, transparent 50%, rgb(252,186,4) 50%);
  background-image: -moz-linear-gradient(left, transparent 50%, rgb(252,186,4) 50%);
  background-image: -ms-linear-gradient(left, transparent 50%, rgb(252,186,4) 50%);
  background-image: -o-linear-gradient(left, transparent 50%, rgb(252,186,4) 50%);
  background-image: linear-gradient(left, transparent 50%, rgb(252,186,4) 50%);
  background-repeat: repeat-x;
  background-size: 200% .8em;
  background-position: 0 .5em;
  transition: all 2s ease;
  font-weight: bold;
}
