@import "colors";
@import "dimensions";

nav.pagination {
  margin: $moderate 0;
  padding: $moderate 0;
  display: inline-block;
  border-top: solid $very_light_gray 1px;
  border-bottom: solid $very_light_gray 1px;
  padding-bottom: $very-wide;
  span.page, span.first, span.prev, span.next, span.last {
    display: inline-block;
    background-color: $orange;
    padding: $narrow $moderate;
    a {
      text-decoration: none;
      color: $white;
    }
  }
  span.current {
    background-color: $dark_gray;
    color: $white;
  }
  span.disabled {
    color: $gray;
  }
  span.gap {
    background-color: transparent;
  }
}
