<div class="Form">
    <div class="Form-Item">
      <p class="Form-Item-Label">
        <span class="Form-Item-Label-Required">必須</span>姓
      </p>
      <%= f.text_field :family_name, required: true, class: "Form-Item-Input" %>
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>名前</p>
      <%= f.text_field :given_name, required: true, class: "Form-Item-Input" %>
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>パスワード</p>
      <%= f.text_field :password, class: "Form-Item-Input" %>
    </div>
      <%= f.submit "ログイン", class: "Form-Btn" %>
    </div>
</div>


