<% if @caregiver 
  @title = "#{@caregiver.name}さんのログイン・ログアウト記録"
%>
<% else %>
  <% @title = "職員のログイン・ログアウト記録" %>
<% end %>

<h2><%= @title %></h2>

<div class="table-wrapper">
  <table class="listing">
    <tr>
    <% unless @caregiver%><th>氏名</th><% end %>
        <th>種類</th>
        <th>日時</th>
    </tr>
    <%= render partial: "login_record", collection: @login_records %>
    <% if @login_records.empty? %>
      <tr>
        <%= content_tag(:td, "記録がありません", colspan: @caregiver ? 2 : 3, style: "text-align: center") %>    
      </tr>
    <% end %>
  </table>

  <div class="pagination">
    <%= paginate @login_records %>
  </div>
</div>
