<header>
<link rel="icon" type="image/png" href="/favicon.png">
  <span class="logo-mark">kiroku</span>
   <%= 
   if current_caregiver_member
    link_to "ログアウト", :caregiver_session, method: :delete
   else 
    link_to "ログイン", caregiver_login_path
   end
   %>
  </div>
</header>



