<% @title="入居者情報の登録" %>
<div class="page-title">
   <h2><%= @title %></h2>
</div>

<div class="form-container">
  <%= form_with model: @care_recipitent, url: :caregiver_tops, local: true do |form| %>
    <%= render "error", care_recipitent: @care_recipitent %>
    <%= render "form", form: form %>
  <% end %>
</div>

