<h2>利用者情報の登録</h2>

<%= form_with model: @care_recipitent, url: :caregiver_tops do |form| %>
 <%= render "error", care_recipitent: @care_recipitent %>
  <%= render "form", form: form %>
 
      <div>
      <%= form.submit "登録" %>
      </div>

  <% end %>
</div>

