<% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "つのエラー") %> があります。</h2>

      <ul>
      <% family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
