@import "colors";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: $right_yellow;
}


header {
  padding: 5px;
  height: 50px;
  background-color: orange;
  color: white;
  span.logo-mark {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    padding: 7px;
  }
  .staff-mark {
    float: right;
    padding: 10px 20px 0 0; 
    a.staff-login {
      text-decoration: none;
    }
  }
 
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $right_gray;
  color: $white;
  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}
