/* オレンジ系 */
$orange: #FF9933;

/* 白 */
$white: #FFFFFF;

/* 黄色 */
$right_yellow: #FFFF99;
$dark_yellow: #888844;
$very_dark_yellow: darken($dark_yellow, 25%);

/* グレー */
$right_gray: #CCCCCC;
$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;


/* マゼンタ系 */
$dark_gray: #666666;
$dark_magenta: #884488;
$very_dark_magenta: darken($dark_magenta, 25%);
$light_gray: #eeeeee;
$very_light_gray: #fafafa;


/* シアン系 */

$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);

/* 赤系 */
$red: #cc0000;
$pink: #ffcccc;

/* 緑系 */
$green: #00cc00;
