
  div#container {

    .form-container {
      text-align: center;

      a.new-session-button {
        padding-top: 10px;
      }
    }

    .field {
      margin: 20px 0 20px;
    }

    input {
      width: 400px;
      padding: 10px 15px;
      font-size: 16px;
      border-radius: 3px;
      border: 2px solid #ddd;
      margin-bottom: 10px;
      
    }

    
 }

