body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.main-container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(family-title5.png);
  background-size: cover;
  color: c;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
}

.btn-wrapper {
  margin-top: 80px;
}

.section {
  margin-top: 50px;
}

/*ボタン*/
input.button_to2{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  margin-top: 25px;
}

input.button_to2:hover{
  background-color: #f9c500;
}


/*マーカーアニメーション*/
 
.marker-animation.active{
  background-position: -100% .5em;
}

.marker-animation {
  background-image: -webkit-linear-gradient(left, transparent 50%, rgb(168,213,226) 50%);
  background-image: -moz-linear-gradient(left, transparent 50%, rgb(168,213,226) 50%);
  background-image: -ms-linear-gradient(left, transparent 50%, rgb(168,213,226) 50%);
  background-image: -o-linear-gradient(left, transparent 50%, rgb(168,213,226) 50%);
  background-image: linear-gradient(left, transparent 50%, rgb(168,213,226) 50%);
  background-repeat: repeat-x;
  background-size: 200% .8em;
  background-position: 0 .5em;
  transition: all 2s ease;
  font-weight: bold;
}

