<% @title = "ダッシュボード" %>
<h2><%= @title %></h2>

<ul class="link-list">
 <li><%= link_to "イベント一覧", class: "btn btn--yellow btn--cubic" %></li>
 <%= link_to "介助の仕方を動画で学ぶ", family_youtubes_index_path, class: "btn btn--yellow btn--cubic"  %>
</ul>
