<% @title = "ダッシュボード" %>
<h2><%= @title %></h2>

<ul class="link-list">
 <li><%= link_to "イベント一覧", class: "btn btn--yellow btn--cubic" %></li>
 <li><%= link_to "介助の仕方講座", class: "btn btn--yellow btn--cubic" %></li>
</ul>
