<div class="center-p">
  <p>Care Farmのサービス</p>
</div>

<ul class="link-list">
  <li>
    <%= link_to "ダッシュボード", dashboard_family_families_path, class: "btn btn--yellow btn--cubic"  %> 
  </li>
  <li>
    <%= link_to "記録を登録する" ,new_family_top_path, class: "btn btn--yellow btn--cubic"  %>
  </li>
  <li>
    <%= link_to "イベントへ参加する", family_events_path, class: "btn btn--yellow btn--cubic"  %>
  </li>
</ul>


 
 





