  <div class="top-wrapper">
    <div class="main-container">
        <div class="p-mask">
            <h1>Let's keep a record!</h1>
            <h1>介護の記録を取ろう!</h1>

            <p><strong>Kirokuはオンラインでできる介護の記録サービスです。</strong></p>
        
        </div>
        <div class="btn-wrapper">
           <%= link_to "まずは登録から", new_family_family_path, class: "btn btn--yellow btn--cubic"  %>
          <p>or sign up</p>
           <%= link_to "ログイン", family_login_path, class: "btn btn--yellow btn--cubic" %>
          <%= button_to "ゲストユーザー様", family_guest_path, method: :post, class: "button_to2" %>
      
        </div>
    </div>
  </div>


