<div class="form-container">
<h2>登録フォーム</h2>


<%= render "error_form", family: @family %>
  <%= form_with model: @family, url: :family_families do |form| %>
  <%= render "form", form: form %>
  <% end %>
</div>
