<h1>既往歴</h1>

<table border="5">
  <% @care_recipitent.medical_histories.each do |medical_history| %>
    <tr bgcolor="pink">
      <th bgcolor="	#E0FFFF">既往歴</th>
      <th>過去疾患</th>
      <th>現在疾患</th>

    </tr>
    <tr>
      <td></td>
      <td><%= medical_history.past_disease %></td>
      <td><%= medical_history.current_disease %></td>
    </tr> 
  <% end %>
  </table>

